{
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["@nestjs", "<THIRD_PARTY_MODULES>", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "classProperties", "[\"decorators\", { \"decoratorsBeforeExport\": true }]"]
}
